<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='https://bootswatch.com/4/yeti/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Password Strength</a>
        <div>
            <ul class="navbar-nav">
                {{# if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {{ else }}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Signup</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>

<body>
    {{{body}}}
</body>



</html>
