<div class="container">
    <div class="jumbotron text-center">
        <h3>Your info</h3>
        <strong>id</strong>: {{ user._id }}
        <br>
        <strong>email</strong>: {{ user.local.email }}
    </div>
</div>
